 /* Protfolio Images */
.port .p1{
	background-image: linear-gradient(rgba( 0, 0, 0, 0.0), rgba( 0, 0, 0, 0.1), rgba( 0, 0, 0, 0.8)), url("../images/portfolio1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.port .p2{
	background-image: linear-gradient(rgba( 0, 0, 0, 0.0), rgba( 0, 0, 0, 0.1), rgba( 0, 0, 0, 0.8)), url("../images/portfolio2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.port .p3{
	background-image: linear-gradient(rgba( 0, 0, 0, 0.0), rgba( 0, 0, 0, 0.1), rgba( 0, 0, 0, 0.8)), url("../images/portfolio3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.port .p4{
	background-image: linear-gradient(rgba( 0, 0, 0, 0.0), rgba( 0, 0, 0, 0.1), rgba( 0, 0, 0, 0.8)), url("../images/portfolio4.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.port .p5{
	background-image: linear-gradient(rgba( 0, 0, 0, 0.0), rgba( 0, 0, 0, 0.1), rgba( 0, 0, 0, 0.8)), url("../images/portfolio5.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.port .p6{
	background-image: linear-gradient(rgba( 0, 0, 0, 0.0), rgba( 0, 0, 0, 0.1), rgba( 0, 0, 0, 0.8)), url("../images/portfolio6.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}



*{
	margin: 0px;
	padding: 0px;
}
html{
	scroll-behavior: smooth;
}
.header{
	background: url('../images/Layout_V1.jpg');
	min-height: 754px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.tx-wt{
	color: #fff;
}
.black{
	background: #222222 !important;
	z-index: 1000;
}
.add{
	position: fixed;
	z-index: 700;
	background: #222222 !important;
	width: 100%;
	padding: 38.5px;
}

.header img{
	width: 230px;
}
.header .navbar-nav{
	margin-right: 100px;
}
.header .navbar-nav li{
	padding: 0px 20px;
}
.header .navbar-nav li a{
	color: #fff !important;
}
.active{
	font-weight: 700 !important;
}
.header-body .text{
	height: 300px;
	width: 490px;
	padding-top: 210px;
	position: absolute;
	z-index: 20;
}
.header-body .text h1{
	font-size: 60px;
	font-weight: bold;
	padding-bottom: 17px;
	margin-bottom: 0px;
}
.header-body .text p{
	font-size: 20px;
	padding-bottom: 5px;
}
.header-body .text button{
	margin-top: 20px;
	padding: 10px 43px;
	border: 1.1px solid #fff;
	outline: none;
	background: rgba(0, 0, 0, 0.0);
	color: #fff;
	border-top: 1.7px solid #fff;
	font-weight: 500;
}
.header-body .text button:hover{
	background: #fff;
	color: #000;
	transition: .7s;
}
.img-large img{
	top: 100px;
	right: 10%;
	position: absolute;
	width: 900px;
	z-index: 0;
	opacity: .8;
}




.sobre-fluid{
	background: url('../images/Layout_V2.1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.sobre{
	padding: 114px 0px;

}
.in{
	background: #222222;
	border-radius: 10px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, .8)
}
.sobre .profile{
	padding-left: 0px;
}
.sobre .profile img{
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
.sobre .in .text{
	padding:  53px 90px 45px 0px !important;
}
.sobre .in .text h1{
	font-size: 53px;
	font-weight: bold;
	margin: 0px;
	padding-bottom: 20px;
}
.sobre .in .text p{
	font-size: 20px;
	margin-bottom: 0px;
}
.soreb-buttons{
	margin-top: 30.5px;
}
.sobre .in .text button{
	padding: 10px 43px;
	border: 1.1px solid #fff;
	outline: none;
	background: rgba(0, 0, 0, 0.0);
	color: #fff;
	border-top: 1.7px solid #fff;
	font-weight: 500;
	float: left;
	margin-top: 31px;
}
.sobre .in .text button:hover{
	background: #fff;
	color: #000;
	transition: .7s;
}
.sobre .in .text i{
	padding: 4.6px 15px;
	border: 1.7px solid #fff;
	font-size: 35px;
	margin-left: 15px;
	outline: none;
	background: rgba(0, 0, 0, 0.0);
	color: #fff;
	font-weight: 700;
}
.sobre-con .img1 img{
	position: absolute;
	z-index: 10;
	left: 1%;
	top: 650px;
	width: 22%;
}
.sobre-con .img2 img{
	position: absolute;
	z-index: 10;
	right: 1%;
	top: 1295px;
	width: 22%;
}
.sobre-con .img3 img{
	position: absolute;
	width: 0%;
}
.sobre-con .img4 img{
	position: absolute;
	width: 0%;
}






.port-fluid{
	background: url('../images/Layout_V3.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.port-con{
	padding-top: 90px;
}
.port-con h1{
	font-size: 50px;
	font-weight: bold;
}
.port{
	padding: 60px 0px 40px 0px;
}
.port .port-d{
	width: 90%;
	position: absolute;

}




.port .port-demo{
	height: 230px;
	position: relative;
	margin-bottom: 60px;
}
.port .port-demo .port-d h4{
	margin-top: 170px;
	margin-bottom: 15px;
	font-size: 22px;
	letter-spacing: 1px;
	margin-left: 15px;
}


.contact-fluid{
	background: url('../images/Layout_V4.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.contact{
	padding: 85px 0px 25px 0px;
}
.contact h1{
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 40px;
}
.contact p{
	color: #fff;
	margin: 0px;
	margin-bottom: 5px;
}
.contact input[type="text"], 
.contact input[type="email"]{
	width: 100%;
	height: 35px;
	margin-bottom: 25px;
	border: 1px solid #fff;
	outline: none;
	background: rgba(0, 0, 0, 0);
	color: #fff;
	padding-left: 12px;
}
.contact textarea{
	width: 100%;
	height: 70px;
	margin-bottom: 25px;
	border: 1px solid #fff;
	outline: none;
	background: rgba(0, 0, 0, 0);
	color: #fff;
	padding-left: 12px;
}
.contact input[type="submit"]{
	margin-top: 10px;
	padding: 10px 43px;
	border: 1.1px solid #fff;
	outline: none;
	background: #fff;
	color: #000;
	border-top: 1.7px solid #fff;
	font-weight: 500;
	margin-bottom: 30px;
}
.space{
	margin-left: 38px;
}
.space1{
	margin-left: 50px;
}
.space2{
	margin-left: 58px;
}
.ele{
	margin-bottom: 50px;
}
.contato{
	margin-top: 150px;
	margin-left: 20px;
}
.contato span{
	font-size: 19px;
}
.contato i{
	font-size: 28px;
	margin-left: 25px;
	font-weight: 700;
}
.contato .fir i{
	font-size: 35px;
	margin-left: 25px;
	font-weight: 700;
}


.footer img{
	width: 100px;
}
.footer p{
	padding: 20px 0px 30px 0px;
	margin: 0px;
}


@media screen and (max-width: 1270px){
	.sobre-con .img1 img{
	left: 0%;
    }
    .sobre-con .img2 img{
	right: 0%;
    }
}
@media screen and (max-width: 1236px){
	.sobre-con .img1 img{
	top: 700px;
	width: 18%;
    }
    .sobre-con .img2 img{
	top: 1340px;
	width: 18%;
    }
}
@media screen and (max-width: 1200px){
	.header-body .text{
	width: 405px;
	padding-top: 220px;
}
.header-body .text h1{
	font-size: 60px;
}
.header-body .text p{
	font-size: 17px;
}
.img-large img{
	top: 150px;
	right: 10%;
	width: 690px;
}
.sobre-con .img1 img{
	top: 730px !important;
    }
    .sobre-con .img2 img{
	top: 1340px !important;
    }
.sobre .in .text{
	padding:  60px 60px 0px 60px !important;
}
.sobre .in .text p{
	font-size: 17px;
}
.sobre .in .text button{
	margin-top: 31px;
	padding: 7px 37px;
}
.sobre .in .text i{
	font-size: 28px;
}
.port-con{
	padding-top: 75px;
}
.port{
	padding: 50px 0px 20px 0px;
}
.port .port-demo .port-d h4{
	margin-top: 160px;
}
.contact{
	padding: 85px 0px 25px 15px;
}
.contato .fir i{
	font-size: 28px;
}
}

@media screen and (max-width: 992px){
	.navbar{
		background: url('../images/nav.jpg');
	}
	.header-body .text{
	width: 330px;
	padding-top: 250px;
}
.header-body .text h1{
	font-size: 55px;
}
.header-body .text p{
	font-size: 16px;
}
.header-body .text button{
	margin-top: 15px;
	padding: 8px 35px;
}
.img-large img{
	top: 220px;
	right: 10%;
	width: 540px;
}
.sobre-con .img1 img{
	top: 730px !important;
	width: 22%;
    }
    .sobre-con .img2 img{
	top: 1240px !important;
	width: 22%;
    }
.sobre .in .text{
	padding:  25px 40px 0px 40px !important;
}
.sobre .in .text p{
	font-size: 15px;
}
.sobre .in .text h1{
	font-size: 40px;
	padding-bottom: 7px;
}
.sobre .in .text button{
	margin-top: 25px;
}
.sobre .in .text i{
	margin-top: -6px;
}
.port-con{
	padding-top: 75px;
}
.port{
	padding: 50px 0px 20px 0px;
}
.port .port-demo .port-d h4{
	margin-top: 160px;
}
.contact{
	padding: 85px 0px 25px 0px;
}
.contato span {
    font-size: 18px;
}
.space{
	margin-left: 45px;
}
}


@media screen and (max-width: 767px){
	.sobre .profile img {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
	.header-body .text{
	width: 350px;
	padding-top: 430px;
}
.header-body .text h1{
	font-size: 47px;
	padding-left: 95px;
}
.header-body .text p{
	font-size: 16px;
	padding-left: 95px;
}
.header-body .text button{
	margin-top: 15px;
	padding: 8px 35px;
	margin-left: 95px;
}
.img-large img{
	top: 110px;
	right: 10%;
	width: 540px;
}
.sobre-con .img1 img{
	top: 740px !important;
	width: 29%;
    }
    .sobre-con .img2 img{
	top: 1660px !important;
	width: 29%;
    }

    .sobre .in .text{
	padding:  25px 40px 0px 40px !important;
}
.sobre .in .text p{
	font-size: 16px;
}
.sobre .in .text h1{
	font-size: 40px;
}
.sobre .profile {
    padding-left: 0px;
    padding-right: 0px;
}
.profile img{
	width: 100%;
}
.sobre .in .text button{
	margin-bottom: 20px;
}
.sobre{
	padding: 80px 0px;
}
.port{
	padding: 40px 0px 10px 0px;
}
.port .port-demo .port-d h4{
	margin-top: 100px;
}
.port .port-demo{
	margin-bottom: 0px;
}

.ele{
	margin-bottom: 20px;
}
.contato{
	margin-top: 30px;
	margin-left: 0px;
}
.contact{
	padding: 80px 0px 25px 0px;
}
.contato img{
	width: 75px;
}
.contato i{
	font-size: 28px;
	margin-left: 25px;
}
}

@media screen and (max-width: 564px){
	.sobre-con .img3 img{
	top: 740px !important;
	width: 35%;
    left: 0px;
    z-index: 100;
    }
    .sobre-con .img4 img{
	top: 1630px !important;
	width: 35%;
	right: 0px;
	z-index: 100;
    }
    .sobre-con .img1 img{
	width: 0%;
    }
    .sobre-con .img2 img{
	width: 0%;
    }
    .port .port-demo {
    margin-bottom: -20px;
    padding-left: 8px;
    padding-right: 8px;
}
}
@media screen and (max-width: 464px){
	.add{
		padding: 0px;
	}
	.header-body .text{
	width: 340px;
	padding-top: 390px;
}
.header-body .text h1{
	font-size: 47px;
	padding-left: 50px;
}
.header-body .text p{
	font-size: 16px;
	padding-left: 50px;
}
.header-body .text button{
	margin-top: 15px;
	padding: 8px 35px;
	margin-left: 50px;
}
.footer p{
	font-size: 14px;
}
.sobre-con .img1 img{
	width: 0%;
    }
    .sobre-con .img2 img{
	width: 0%;
    }
    .port .port-demo .port-d h4 {
    margin-top: 100px;
    margin-left: 7px;
    font-size: 18px;
}
}

@media screen and (max-width: 380px){
	.header .navbar-brand img {
    width: 200px;
}
	.header-body .text{
	width: 320px;
	padding-top: 350px;
}
.header-body .text h1{
	font-size: 47px;
	padding-left: 30px;
}
.header-body .text p{
	font-size: 16px;
	padding-left: 30px;
}
.header-body .text button{
	margin-top: 15px;
	padding: 8px 35px;
	margin-left: 30px;
}
.footer p{
	font-size: 12px;
}
.sobre-con .img4 img{
	top: 1667px !important;
    }
.sobre .in .text button {
	padding: 6px 43px 7px 43px !important;
    margin-top: 25px;
    padding: 5px 34px;
}
}

@media screen and (max-width: 400px){
	.sobre-con .img3 img{
	top: 720px !important;
	width: 36%;
    left: 0px;
    z-index: 100;
    }
    .sobre-con .img4 img{
	top: 1667px !important;
	width: 35%;
	right: 0px;
	z-index: 100;
    }
}

@media screen and (max-width: 340px){
	.header-body .text{
	width: 285px;
	padding-top: 350px;
}
.header-body .text h1{
	font-size: 47px;
	padding-left: 16px;
}
.header-body .text p{
	font-size: 16px;
	padding-left: 16px;
}
.header-body .text button{
	margin-top: 15px;
	padding: 8px 35px;
	margin-left: 16px;
}
.footer p{
	font-size: 10px;
}

}

@media screen and (max-width: 358px){
	.sobre .in .text button {
    padding: 6px 20px 7px 20px !important;
    margin-top: 25px;
}
}
